<main>
	<h1>Scoreboard</h1>
	<form>
		<div class="form-row form-row-select">
			<label for="person-filter">Filter by taster:</label>
			<select ng-model="vm.personId" ng-change="vm.updateScoreboard()">
				<option value="">Everyone</option>
				<option name="person-filter" ng-repeat="person in $parent.vm.people" value="{{person.id}}">{{person.name}}</option>
			</select>
		</div>
	</form>
	<table>
		<thead>
			<th>Beer</th>
			<th>Description</th>
			<th>Score</th>
			<th ng-hide="vm.personId">Average</th>
		</thead>
		<tbody>
			<tr ng-repeat="beer in vm.beers track by $index | orderBy: '-averageScore'">
				<td>{{beer.name}}</td>
				<td>{{beer.description}}</td>
				<td>{{beer.totalScore}}</td>
				<td ng-if="vm.personId === ''">{{beer.averageScore}}</td>
			</tr>
		</tbody>
	</table>
	<div class="next-step"><a href="/round" class="button" ng-show="$parent.vm.people.length !== 0">Let's have a beer &rarr;</a></div>
</main>