/* Animation
-------------------------------------------------------------- */
.bubbles:before,
.bubbles:after,
.bubbles-2 h1:before,
.bubbles-2 h1:after {position:absolute;content:'';background:rgba(255,255,255,0.2);bottom:-15px;width:12px;height:12px;display:block;border-radius:50%}
.bubbles:before {animation:bubbles 3.2s ease-in .5s infinite;left:2%;box-shadow:40vw 160px 0 2px rgba(255,255,255,.3), 70vw 100px 0 3px rgba(255,255,255,0.2), 85vw 70px 0 -1px rgba(255,255,255,0.4), 40vw 90px 0 -2px rgba(255,255,255,0.2);}
.bubbles:after {transform:scale(.85); animation:bubbles 3.1s ease-in 1.5s infinite;left:10%;box-shadow:45vw 150px 0 0 rgba(255,255,255,.3), 95vw 100px 0 1px rgba(255,255,255,0.3), 55vw 160px 0 -2px rgba(255,255,255,0.4), 35vw 40px 0 -1px rgba(255,255,255,0.2);}
.bubbles-2:after {transform:scale(1.1);animation:bubbles 3.1s ease-in 1s infinite;left:20%;box-shadow:20vw 160px 0 1px rgba(255,255,255,.3), 33vw 120px 0 -2px rgba(255,255,255,.4), 70vw 70px 0 1px rgba(255,255,255,.2), 50vw 100px 0 -3px rgba(255,255,255,.2)}
.bubbles-2:after {transform:scale(.9);animation:bubbles 3.4s ease-in 2s infinite;left:40%;box-shadow:45vw 160px 0 2px rgba(255,255,255,.3), 13vw 120px 0 -1px rgba(255,255,255,.3), 10vw 70px 0 1px rgba(255,255,255,.2), 45vw 100px 0 -2px rgba(255,255,255,.2) 72vw 150px 0 -1px rgba(255,255,255,.4)}

@keyframes bubbles {
	0% {transform: translateY(0px)}
	100% {transform: translateY(-275px)}
}