/* Forms
-------------------------------------------------------------- */
form {background:#fafafa;padding:0 4% .5rem 4%}
.form-row {display:block;padding-bottom:.5rem;overflow: hidden}

.form-row-overlay {position:relative;z-index:1;padding-top:2rem;}
.form-row-overlay label {position: absolute;left:0;top:2rem;}
.form-row-overlay input:focus + label,
.form-row-overlay input.ng-valid + label,
.form-row-overlay textarea:focus + label,
.form-row-overlay textarea.ng-valid + label {top:.5rem;font-size:.85rem;transition:all 40ms linear}

fieldset {border:0 none;background:transparent;margin-top:1rem;}
legend {font:400 1rem 'Roboto Condensed', sans-serif;padding:4px;margin-bottom:1rem}

label {display:block;font:400 1rem 'Roboto Condensed', sans-serif;padding:4px;margin-bottom:.25rem;cursor:pointer;color:#222}

input:focus,
textarea:focus {outline: none;}
input[type='text'],
textarea,
select {cursor: pointer;background:transparent;border:0 none;border-bottom:1px solid #ccc;padding:4px;width:100%;background:#fff;font:300 .9rem 'Roboto Condensed', sans-serif;border-radius:0;}
textarea {resize: vertical}
select {position: relative;cursor: pointer;background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAEbgAABG4B0KOyaAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACbSURBVDiN7ZNLDoIwFEXPhTVI2aL8tuPMpbAHQJdDrpNqFCkhYeLAJm9ye87La9rKNkdWdsj+jQaScklXSeVeSVIZnTyzPQMD0EsKO+QA9MBge8Y28SY64A6EZ7YsIESme2ULoAVuQLEiF3Gv/chXwAaY3ptEeQKaLz4xag2MwCnWCNSr7MZ5qyiOQJXitPWUJZ0BbF+SzP8v8ABkhsJhj8L9jwAAAABJRU5ErkJggg==') 99% center no-repeat;-webkit-appearance: none;-webkit-border-radius: 0px;}
input.ng-valid,
textarea.ng-valid {border-bottom:1px solid #3cb209}
/*
input.ng-invalid,
textarea.ng-invalid {border-bottom:1px solid #ff0000}*/
input.ng-pristine,
textarea.ng-pristine {border-bottom:1px solid #ccc}
input.ng-pristine:focus,
textarea.ng-pristine:focus {border-bottom: 1px solid $primary-color;}

input:disabled {opacity:.5;cursor:default;background:#ccc;}
input:disabled:hover {box-shadow:none;}

.form-row-range label {width:15%;float:left;}
.form-row-range input {width:75%;float:left;top: .25rem;position: relative;}
.form-row-range span {display:block;float:left;top: .25rem;position: relative;width:10%;text-align:right;font-family:'Roboto Condensed', sans-serif;}

.form-row-select {display:flex;padding-top:1rem;}
.form-row-select label {display:inline-flex;padding-right:2rem;}
.form-row-select select {display:inline-flex;width:auto;flex-grow:1;}