/* Grid
-------------------------------------------------------------- */
html, 
body{height: 100%;}

.container {position:relative;min-height:100%;}

.row {width:100%;padding:.75rem $gutter-h}

.main {padding-top:6rem;padding-bottom:6rem}
.next {padding-top:4rem;padding-right: $gutter-h}